* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Roboto', sans-serif;
    background-color: #2B2B2B;
}

.icon-menu{
    float: left;
    width: 3.5rem;
    padding-top: 1.2rem;
    padding-left: 1rem;
}

.icon-cart01 {
    float:right;
    padding-top: 0.7rem;
    padding-right: 1rem;
    width: 3.5rem;
}

.logo {
    width: 12em;
    margin: 0.8em 0.6em 0.4em;

}

/*campo de busca do mobile*/
#campoDeBusca{
    background-color:#BDBA75 ;
    border: none;
    border-radius: 0.5em;
    width: 93%; 
    height: 4em;
    margin:  0 0 1em 1em;
}

/*campo de busca do web*/
#campoDeBusca1{
    background-color:#BDBA75 ;
    border: none;
    border-radius: 0.5em;
    width: 60%; 
    height: 3.5em;
    margin-top: 0.8em;
    margin-right: 12em;
    /* vertical-align: bottom; */  
}

/*aumentando o size da letra do input*/
#campoDeBusca::-webkit-input-placeholder {
    font-size: 1.5em;
} 

.containerHeader{   
    background-color: #706E3E;
}

.container{
    width: 100%;
    height: 29.5em;
}

.corpo{
    background-color: #D6D176;
    margin: 25px auto;
    width:21em;
    display: block;/*div embaixo do outro*/
}

figure {
    width: 32%;
    margin: 10px;
}

.dadosDoLivro{
    width: 60%;
    text-align: left;
    margin: 10px;
}

.produto {
    display: flex;
}

.preco{
    font-size: 1.7em;  
}

#quantity {
    padding: 0.5em 0.6em;
    width: 2em;
    height: 1em;
    font-size: 1.5em;
}

.excluir{
    background-color: #F48585;
    border: none;
    border-radius: 7px;
    width: 5em;
    height: 2em;
    font-size: 1.3em;
}

.livro{
    display: flex;
    float: left;
    width: 7em;
    padding: 5px;
}

.botoes{
    text-align: center;
}

.continuarComprando, .finalizarCompra{
     background-color: #2AB6E6;
     border: none;
     border-radius: 7px;
     width: 10.5em;
     height: 2em;
     font-size: 1em;
}

.continuarComprando{
    margin-right: 0.5em;
}

@media(min-width: 800px) {
    body{
        background-color: aqua;
    }

    .containerHeader{
        background-color: #706E3E;
        height: 4.5em;
    }

    .icon-menu{
        display: none;
    }

    #campoDeBusca{
        display: none;
    }

    /*alinhando os itens na horizontal ao centro*/
    .cabecalho{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .corpo{
        background-color: #D6D176;
        margin: 25px auto;
        width:55em;
        display: block;/*div embaixo do outro*/
    }

    .produto{
        height: 25em;
    }

    
    .livro{
        display: flex;
        float: left;
        width: 7em;
        padding: 5px;
    }
}

@media(max-width: 799px) {

    #campoDeBusca1 {
        display: none;
    }
}

