* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Roboto', sans-serif;
    background-color: #2B2B2B;
}
.containerHeader{
    background-color: #706E3E;
}

.icon-menu{
    float: left;
    width: 3.5rem;
    padding-top: 1.2rem;
    padding-left: 1rem;
}

.logo {
    width: 12em;
    margin: 0.8em 0.6em 0.4em;
}

.icon-cart01 {
    float:right;
    padding-top: 0.7rem;
    padding-right: 1rem;
    width: 3.5rem;
    
}

#campoDeBusca{
    background-color:#BDBA75 ;
    border: none;
    border-radius: 0.5em;
    width: 93%; 
    height: 4em;
    margin:  0 0 1em 1em;
}

#campoDeBusca::-webkit-input-placeholder {
    font-size: 1.5em;
}  

.container{
    width: 100%;
    height: 9.5em;
}

.corpo{
    background-color: #D6D176;
    margin: 25px auto;
    width:21em;
    display: block;/*div embaixo do outro*/
}

figure {
    width: 32%;
    margin: 10px;
}

.dadosDoLivro{
    width: 60%;
    text-align: left;
    margin: 10px;
}

.produto {
    display: flex;
}
h3{
    font-size: 1.3em;
}

.autora {
    font-size: 0.9em;
}

.preco{
    font-size: 1.7em;  
}

.livro{
    display: flex;
    float: left;
    width: 7em;
    padding: 5px;
}

.comprar{
    background-color: #2AB6E6;
    border: none;
    border-radius: 5px;
    width: 7em;
    height: 2em;
    font-size: 1em;
    margin-left: 2em;
}

h2{
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.descricao p {
    margin-left: 30px;
    margin-right: 35px;
    font-size: 13px;
}

.descricao p:last-child{
    padding-bottom: 50px;
}

/* @media (min-width: 800px){
    
    .icon-menu{
        display: none;
    }

} */