* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Roboto', sans-serif;
    background-color: #2B2B2B;
}

.icon-menu{
    float: left;
    margin: 25px 0 25px 40px;
    font-size: 100px; 
}

/*alterando somente o primeiro .icon-menu*/
.containerHeader span:last-child{
    float: right;
    margin: 30px 40px 25px 0;
    font-size: 90px;
}

#campoDeBusca{
    background-color:#BDBA75 ;
    border: none;
    border-radius: 20px;
    width: 910px; 
    height: 120px;
    margin:  0px 27px 27px 37px;
}

/*a letra "O que procura?"*/
#campoDeBusca::-webkit-input-placeholder {
    font-size: 50px;
}  

.containerHeader{   
    background-color: #706E3E;
}

.container{
    font-size: 40px;
    width: 100%;
    height: 440px;
    padding: 30px 30px 30px 30px;
}

.corpo{
    background-color: #D6D176;
    margin: 50px auto;
    width:840px;
    display: block;/*div embaixo do outro*/
}

figure {
    width: 40%;
}

.dadosDoLivro{
    width: 60%;
    text-align: left;
}

.produto {
    display: flex;
}

.preco{
    font-size: 50px;  
}

.livro{
    display: flex;
    float: left;
    padding: 5px;
    margin: 0 auto;
}

.comprar{
    background-color: #2AB6E6;
    border: none;
    border-radius: 7px;
    width: 250px;
    height: 70px;
    font-size: 30px;
    
}

h2{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 15px;
}

.descricao p {
    margin-left: 40px;
    margin-right: 35px;
    font-size: 13px;
}

.descricao p:last-child{
    padding-bottom: 50px;
}
