* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2b2b2b;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ================== Style Header -- Início =============== */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.containerHeader {
  background-color: #706e3e;
}

.icon-menu {
  float: left;
  width: 3.5rem;
  padding-top: 1.2rem;
  padding-left: 1rem;
}

.icon-cart01 {
  float: right;
  padding-top: 0.7rem;
  padding-right: 1rem;
  width: 3.5rem;
}

.logo {
  width: 12em;
  margin: 0.8em 0.6em 0.4em;
}

#campoDeBusca {
  background-color: #bdba75;
  border: none;
  border-radius: 0.5em;
  width: 93%;
  height: 4em;
  margin: 0 0 1em 1em;
}

.login {
  width: 8em;
  height: 2.5em;
  font-size: 1em;
  margin-top: 0.5em;
  border-radius: 7px;
  border: none;
}

/*aumentando o size da letra do input*/
#campoDeBusca::-webkit-input-placeholder {
  font-size: 1.5em;
}

/*campo de busca do web*/
#campoDeBusca1 {
  width: 30%;
  height: 3.5em;
  background-color: #bdba75;
  border-radius: 0.5em;
  margin-top: 0.8em;
  border: none;
  /* margin-right: 12em; */
  /* vertical-align: bottom; */
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ================== Style Header -- Fim ================== */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ================== Style Body -- Início ================= */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Mais Vendidos*/
.maisVendidos {
  color: white;
  padding: 1em 0 1em 1em;
  font-size: 0.7em;
}

/*Container do Card*/
.container {
  background-color: #d6d176;
  min-width: 18em;
  margin: 0 1em;
  height: 38em;
}

/* ================== Style Card -- Início ================= */
/*Foto do Livro*/
.livro {
  width: 90%;
  max-height: 21em;
}

figure.foto-livro-container {
  text-align: center;
  padding: 1em 0em 1em 0em;
}

/*Descrição do livro*/

.author {
  font-size: 1.2em;
  padding-top: 0.4em;
  padding-left: 1em;
}

.dadosDoLivro {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.dadosDoLivro a {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.dadosDoLivro h3 {
  text-align: center;
  font-size: 1.6em;
}

.containerStars {
  font-size: 1.2em;
  padding-left: 1em;
}

.produto {
  padding: 1em;
}

.preco {
  font-size: 1.8em;
  padding-left: 0.7em;
}

.comprar {
  background-color: #2ab6e6;
  width: 13em;
  border: none;
  height: 2.1em;
  margin: 0.7em auto;
  color: white;
  border-radius: 0.5em;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.scroll {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (min-width: 530px) {
  .container {
    width: 30%;
  }
}

/* ================== Style Card -- Fim ==================== */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ================== Style Body -- Fim ==================== */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 1050px) {
  .container {
    width: 30%;
    margin: 1em;
  }
}

@media (min-width: 800px) {
  /* Style Header -- Início */
  .containerHeader {
    background-color: #706e3e;
    height: 4.5em;
  }

  .icon-menu {
    display: none;
  }

  #campoDeBusca {
    display: none;
  }

  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 799px) {
  #campoDeBusca1 {
    display: none;
  }

  .login {
    display: none;
  }
}
