
* {
    margin: 0;
    padding: 0;
  }


body{
    font-family: 'Roboto', sans-serif;
    background-color: #2B2B2B;
}

.icon-menu{
    float: left;
    font-size: 100px; 
    color: #D6D176;
    width: 6.5rem;
    padding-top: 3rem;
    padding-left: 3rem;
}

.icon-cart01 {
    float:right;
    margin-top: 2rem;
    margin-right: 2.5rem;
    width: 6rem;
    
}

/*alterando somente o primeiro .icon-menu*/
.containerHeader span:last-child{
    float: right;
    margin: 30px 40px 25px 0;
    font-size: 90px;
}

#campoDeBusca{
    background-color:#BDBA75 ;
    border: none;
    border-radius: 20px;
    width: 910px; 
    height: 120px;
    margin:  1.5rem 27px 27px 37px;
}

/*a letra "O que procura?"*/
#campoDeBusca::-webkit-input-placeholder {
    font-size: 50px;
}  

.containerHeader{   
    background-color: #706E3E;
}

.container{
    font-size: 30px;
    width: 100%;
    height: 60rem;
    /*padding: 30px 30px 30px 30px;*/
}

.card{
    background-color: #D6D176;
    margin: 50px auto;
    width:840px;
    height: 90rem;

    /*div embaixo do outro*/
    /*display: block;*/
}

figure {
    width: 60%;
    align-items: center;
    padding-top: 4rem;
}

.dadosDoLivro h3 {
    text-align: center;
    font-size: 4rem;
}

/*
========= Início =========
Padding nos elementos abaixo do título do livro
*/
/*Nome do autor*/
.dadosDoLivro p {
    padding-left: 8rem;
    font-size: 3rem;
}

/*Estrelas*/
.containerStars {
    padding-left: 8rem;
    font-size: 3rem;
}

/*Preço*/
.preco {
    padding-left: 8rem;
}

/*Botão Comprar*/
.dadosDoLivro button {
    color: white;
    margin-top: 1.5rem;
    margin-left: 7.5rem;
    width: 70%;
    height: 7rem;
    /*Sombreado botão comprar*/
    box-shadow: 5px 4px 4px #7D7D7D;
}
/*
========= Fim =========
Padding nos elementos abaixo do título do livro
*/

.dadosDoLivro h3 {
    padding-top: 2rem;
    
}

/*Alterando somente preço*/
.dadosDoLivro p.preco {
    font-size: 4rem;
}

.produto {
    display: grid;
}

.livro{
    
    float: left;
    width: 35rem;
    padding: 5px;
    padding-left: 8.5rem;
    margin: 0 auto;
}

.comprar{
    background-color: #2AB6E6;
    border: none;
    border-radius: 7px;
    width: 250px;
    height: 70px;
    font-size: 2.5rem;
}

h2{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 15px;
}

.descricao p:last-child{
    padding-bottom: 50px;
}

h1 {
    padding-left: 4rem;
}

.maisVendidos {  
    margin-top: 3rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}